DATABASE_URL=postgresql+asyncpg://marketplace:marketplace@postgres-orders:5432/marketplace_orders
PORT=8003
RATE_LIMIT_MINUTES=5
PRODUCT_SERVICE_URL=http://product-service:8002
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
